/* General Styles */
html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: hsl(211, 22%, 79%);
    color: hsl(346, 57%, 47%);
    display: flex;
    flex-direction: column;
}

main {
    width: 60%;
    margin: auto;
    min-height: 100vh;
    /* position: relative; */
}

/* Header Section */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.logo-img {
    height: 50%;
    width: 100%;
}

nav {
    /* width: 60%; */
    border-top: solid 2px hsl(346, 57%, 47%);
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    /* margin-top: 0; */
}

nav ul li {
    list-style-type: none;
    margin: 1rem 1rem;
    display: inline-block;
    flex: 0 1 15%;
    text-align: center;
}

ul li a {
    background-color: hsl(346, 57%, 47%);
    border: 1px solid hsl(346, 57%, 37%);
    border-radius: 0.625rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: 	hsl(211, 22%, 89%);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
}

ul li a:hover {
    color: hsl(346, 57%, 47%);
    background-color: hsl(211, 22%, 79%);
}

h2 {
    background-color: hsl(346, 57%, 47%);
    color: hsl(211, 22%, 79%);
    padding: 1rem 1rem;
    width: 30%;
    border-radius: 0.625rem;
}

.about-me {
    /* width: 60%; */
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: space-evenly; */
}

.projects {
    /* width: 60%; */
    /* margin: auto; */
    padding-top: 2rem;
}

.project-flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    /* flex-wrap: wrap; */
}

.project-flex div {
    /* width: 60%; */
    padding-right: 1rem;
    flex: 1;
    /* width: 50%; */
}

.project-flex img {
    border-radius: 0.625rem;
    width: 20.1875rem;
    /* flex: 1; */
}

.skills {
    /* width: 60%; */
    /* margin: auto; */
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.skills-flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    /* flex: 1;
    flex-wrap: nowrap; */
}

.skills-flex img {
    padding: 1rem 1rem;
    /* flex: 1; */
    width: 4rem;
}

a.mail-link {
    /* text-decoration: none; */
    color: hsl(346, 57%, 37%);
    font-weight: 700;
}

a.mail-link:hover {
    text-decoration: none;
    color: hsl(346, 57%, 47%);
    /* font-weight: 400; */
}

.socials {
    width: 30%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    flex: 1 1;
}

.socials a {
    display: inline-block;
    width: 10%;
}

.socials a img {
    /* display: inline; */
    width: 100%;
}

/* Footer section */

footer {
    display: block;
    /* position: absolute; */
    bottom: 0;
    /* left: 0; */
    padding-top: 2rem;
    /* width: 100%; */
    height: 2rem;
}

footer p {
    font-size: 0.625rem;
    padding-left: 1rem;
}

footer a {
    padding-left: 1rem;
    font-size: 0.5rem;
}

footer span {
    font-size: 0.5rem;
}

/* Media Queries */

/* 1024 x 840 */

@media only screen and (max-width: 1024px) {
    main {
        width: 80%;
    }
}

/* 768 x 840 */

@media only screen and (max-width: 768px) {

    main {
        font-size: 14px;
    }
    .project-flex {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        flex-wrap: wrap;
    }
    
    .project-flex div {
        /* width: 60%; */
        padding-right: 1rem;
        /* flex: 1; */
        /* width: 50%; */
    }
    
    .project-flex img {
        border-radius: 0.625rem;
        /* width: 30%; */
        width: 15rem;
        object-fit: contain;
        /* flex: 1; */
    }
}

/* 650 x 840 */

@media only screen and (max-width: 650px) {
    h2 {
        margin: auto;
        width: 80%;
        text-align: center;
    }

    .project-flex {
        flex-direction: column;
        align-items: center;
    }

    .project-flex div {
        text-align: center;
    }
}

/* 320 x 840 */

@media only screen and (max-width: 320px) {
    main {
        width: 90%;
        margin: auto;
    }

    .skills-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-flex img {
        flex-shrink: 1;
    }
}