/* General Styles */
html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: #BFCAD6;
    color: #BE3455;
}